.DS_Store
node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Env variables
variables-dev.env
variables-ssh.env
variables-prod.env

#keys
privateKey.pem

# pm2
ecosystem.config.js